.home {
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: left top;
    justify-content: left top;
    padding-left: 5vh;
  }
  
  .home_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 10px;
  }
  
  .home_btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  
  .home div {
    margin-top: 10px;
  }
  